extends layout

block content
    .container
      .header
        h1= title
      .content
        .main
            #recordList
                table
                    thead
                        th Time
                        th Temperature
                        th Humidity
                        th Pressure
                        th Delete?
                    tbody
